-
    var mainCatalogNicotine = [
        {
            src: "img/content/catalog/nicotine/item_1.webp",
            title: "STRAWBERRY APPLE"
        },
        {
            src: "img/content/catalog/nicotine/item_2.webp",
            title: "HONEY GRAPEFRUIT TEa"
        },
        {
            src: "img/content/catalog/nicotine/item_3.webp",
            title: "LEMON SODA"
        },
        {
            src: "img/content/catalog/nicotine/item_4.webp",
            title: "COCONUT"
        }
    ]

    var mainCatalogZero = [
        {
            src: "img/content/catalog/zero/item_1.webp",
            title: "HONEY GRAPEFRUIT TEa"
        },
        {
            src: "img/content/catalog/zero/item_2.webp",
            title: "LEMON SODA"
        },
        {
            src: "img/content/catalog/zero/item_3.webp",
            title: "LUSH ICE"
        },
        {
            src: "img/content/catalog/zero/item_4.webp",
            title: "STRAWBERRY LYCHEE"
        }
    ]

    var catalogNicotine = [
        {
            src: "img/content/catalog/nicotine/item_1.webp",
            title: "STRAWBERRY APPLE"
        },
        {
            src: "img/content/catalog/nicotine/item_2.webp",
            title: "HONEY GRAPEFRUIT TEa"
        },
        {
            src: "img/content/catalog/nicotine/item_3.webp",
            title: "LEMON SODA"
        },
        {
            src: "img/content/catalog/nicotine/item_4.webp",
            title: "COCONUT"
        },
        {
            src: "img/content/catalog/nicotine/item_5.webp",
            title: "GRAPEFRUIT STRAWBERRY"
        },
        {
            src: "img/content/catalog/nicotine/item_6.webp",
            title: "NUTS TOBACCO"
        },
        {
            src: "img/content/catalog/nicotine/item_7.webp",
            title: "MELON ICE"
        },
        {
            src: "img/content/catalog/nicotine/item_8.webp",
            title: "COCKTAIL"
        },
        {
            src: "img/content/catalog/nicotine/item_9.webp",
            title: "LUSH ICE"
        },
        {
            src: "img/content/catalog/nicotine/item_10.webp",
            title: "BLUEBERRY RASPBERRY"
        },
        {
            src: "img/content/catalog/nicotine/item_11.webp",
            title: "GUAVA ICE"
        },
        {
            src: "img/content/catalog/nicotine/item_12.webp",
            title: "ICE MANGO"
        },
        {
            src: "img/content/catalog/nicotine/item_13.webp",
            title: "STRAWBERRY LYCHEE"
        },
        {
            src: "img/content/catalog/nicotine/item_14.webp",
            title: "COFFEE TOBACCO"
        },
        {
            src: "img/content/catalog/nicotine/item_15.webp",
            title: "PEACH ICE"
        },
        {
            src: "img/content/catalog/nicotine/item_16.webp",
            title: "BANANA ICE"
        },
        {
            src: "img/content/catalog/nicotine/item_17.webp",
            title: "ENERGY JUICE"
        },
        {
            src: "img/content/catalog/nicotine/item_18.webp",
            title: "BLOOD ORANGE"
        },
        {
            src: "img/content/catalog/nicotine/item_19.webp",
            title: "APPLE ICE"
        },
        {
            src: "img/content/catalog/nicotine/item_20.webp",
            title: "COOL MINT"
        },
        {
            src: "img/content/catalog/nicotine/item_21.webp",
            title: "GRAPE PARADISE"
        },
        {
            src: "img/content/catalog/nicotine/item_22.webp",
            title: "ICE COLA"
        },
        {
            src: "img/content/catalog/nicotine/item_23.webp",
            title: "PURE TOBACCO"
        }
    ]

    var catalogZero = [
        {
            src: "img/content/catalog/zero/item_1.webp",
            title: "HONEY GRAPEFRUIT TEa"
        },
        {
            src: "img/content/catalog/zero/item_2.webp",
            title: "LEMON SODA"
        },
        {
            src: "img/content/catalog/zero/item_3.webp",
            title: "LUSH ICE"
        },
        {
            src: "img/content/catalog/zero/item_4.webp",
            title: "STRAWBERRY LYCHEE"
        },
        {
            src: "img/content/catalog/zero/item_5.webp",
            title: "GRAPEFRUIT STRAWBERRY"
        },
        {
            src: "img/content/catalog/zero/item_6.webp",
            title: "NUTS TOBACCO"
        },
        {
            src: "img/content/catalog/zero/item_7.webp",
            title: "MELON ICE"
        }
    ]