@import 'inc/var.sss'

@import 'inc/reset.css'
@import 'inc/link.sass'
@import 'inc/typo.sass'
@import 'inc/grid.sass'
@import 'inc/btn.sass'
@import 'inc/helpers.sass'
@import 'inc/form.sass'
@import 'inc/social.sass'
@import 'inc/modal.sass'

@import 'blocks/header.sass'
@import 'blocks/footer.sass'

