.cookies
    button.btn.btn--light.btn--cross.cookies__close(data-close-cookies aria-label="close cookies panel")

    .cookies__wrap
        .cookies__title This site uses cookies.

        .btns-spacer
            a.btn.btn--light(href="terms-conditions.html#cookies") Learn more
            button.btn.btn--small.btn--accent(data-close-cookies) Ok