section.features
    .container
        .colorLine.paleGreen stay salty

        .title__block
            h2 USEFUL FEATURES

        .features__body
            .features__body-img-wrap.hide-lg-down
                img.features__body-img(src="img/content/features/preview-desktop.webp" width="942" height="942" alt="Преимущества")

            .features__body-img-wrap.hide-lg-up
                img.features__body-img(src="img/content/features/preview.webp" width="942" height="942" alt="Преимущества")

            .features__body-col
                .features__body-item
                    h3 SMOOTH AND SATISFYING PUFFS
                    p Salt Switch uses only medical-grade nicotine and food-grade flavourings that create smooth puffs with a satisfying nicotine level

                .features__body-item
                    h3 RICH TASTE AND TEXTURE
                    p Salt Switch offers a rich experience that is more pleasant than cigarettes

                .features__body-item
                    h3 READY TO ENJOY
                    p SALT Switch is ready-to use - anywhere and any time, without charging

                .features__body-item
                    h3 30+ UNIQUE FLAVOURS
                    p Salt Switch is available in 30+ flavours that will cater anyones taste

                .features__body-item
                    h3 SLICK EASY-TO-USE DESIGN
                    p SALT Switch is designed to look nice and be incredibly easy-to-use

        .features__list
            .features__item
                .features__item-img-wrap
                    img.features__item-img(src="img/content/features/item_1.svg" width="90" height="49" alt="alt")

                .features__item-title Fully Charged & Recyclable 370 mAh battery

            .features__item
                .features__item-img-wrap
                    img.features__item-img(src="img/content/features/item_2.svg" width="63" height="102" alt="alt")

                .features__item-title 20 mg/ml (2%) of nicotine in every 2 ml pod (equivalent to more than one pack of cigarrettes)

            .features__item
                .features__item-img-wrap
                    img.features__item-img(src="img/content/features/item_3.svg" width="80" height="80" alt="alt")

                .features__item-title Small and lightweight — only 20 grams and fits easily in the palm

            .features__item
                .features__item-img-wrap
                    img.features__item-img(src="img/content/features/item_4.svg" width="78" height="102" alt="alt")

                .features__item-title Consistent puffs of vapor from the first one to the last