section.intro(style="background-image:url(img/content/intro/intro-bg.png)")
    .container
        .intro__row
            h1.intro__title Switch to Less

            .intro__img-wrap
                img.intro__img(src="img/content/intro/intro-main.png" width="942" height="942" alt="Switch to Less")

            .intro__info
                p Choose SALT Switch and switch to less harm, hustle and smell

                ul
                    li Smooth and satisfying puffs
                    li Ready to enjoy
                    li Rich taste and texture
                    li 30+ unique flavours
                    li Slick and easy-to-use design

                a.btn.btn--small.btn--accent-2(href="online-shop.html") Go to shop


